# Git ignore for after build and install
bin/
distrib/src/
share
src/polcao/test/gaBlockCyclic.o
src/polcao/test/a.out
src/polcao/test/kinds.o
src/polcao/test/o_kinds.mod
src/polcao/test/o_slsubs.mod
src/polcao/test/slSubs.o
